<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mojo.Wpf.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <userSettings>
    <Mojo.Wpf.Settings>
      <setting name="SourceImages" serializeAs="String">
        <value />
      </setting>
      <setting name="FilteredImages" serializeAs="String">
        <value />
      </setting>
      <setting name="OpticalFlowForwardImages" serializeAs="String">
        <value />
      </setting>
      <setting name="OpticalFlowBackwardImages" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorImagesSaveAs" serializeAs="String">
        <value />
      </setting>
      <setting name="IdImagesSaveAs" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorImagesLoad" serializeAs="String">
        <value />
      </setting>
      <setting name="IdImagesLoad" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoSaveSegmentation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSaveSegmentationFrequencySeconds" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="AutoSaveSegmentationPath" serializeAs="String">
        <value>MojoAutoSave</value>
      </setting>
    </Mojo.Wpf.Settings>
  </userSettings>
</configuration>
